
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% include 'includes/head.html' %}
</head>

<body>
  <header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation"
      class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 navbar-dark">
      <div class="container position-relative">
        <div class="navbar-collapse collapse me-auto" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="">
                  <img src="{% static 'assets/img/brand/light.svg' %}" alt="Volt logo">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global"
                  aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </nav>
  </header>

  
  <footer class="footer py-6 bg-gray-800 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="navbar-brand-dark mb-4" height="35" src="{% static 'assets/img/brand/light.svg' %}" alt="Logo light">
          <p> Bonito Fotso </p>
          
        </div>
        
        
        
      </div>
      <hr class="bg-gray-700 my-5">
      <div class="row">
        <div class="col mb-md-0">
          <a href="" target="_blank" class="d-flex justify-content-center">
            
          </a>
          <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
            <p class="fw-normal font-small mb-0">
              &copy; Bonito Fotso
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  {% include 'includes/scripts.html' %}
  <!-- End Scripts -->

</body>

</html>